---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A Software Engineer with 2 years of experience in developing high-quality
    applications using C#/.NET Core, SQL and other technologies. I am currently
    pursuing a master's degree in software engineering and I am ready to
    collaborate and contribute to your project.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Masters in Software Engineering"
      subtitle="2023 to 2025 at Innopolis University, Innopolis, Russia"
    />
    <TimeLineElement
      title="Bachelors in Mathematics and Computer Science"
      subtitle="2019 to 2023 at Voronezh State University, Voronezh, Russia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Contributor and Code Reviewer at The C# Academy"
      subtitle="From 2023 to Present at The C# Academy, Remote, Australia"
    >
      Enhanced The Academy's website using C#, .NET 8, and Blazor, boosting web
      application performance by 70%. Expanded website accessibility by
      translating it into Russian, increasing its reach to a broader audience.
      Conducted code reviews for over 50 students, providing constructive
      feedback to enhance their programming skills and identify bugs.
    </TimeLineElement>
    <TimeLineElement
      title="Frontend Software Engineer Intern at MTS Labs + Innopolis University"
      subtitle="From Jan 2024 to July 2024 at MTS Labs + Innopolis University, Innopolis, Russia"
    >
      Was part of a team that developed a scalable platform for order creation
      and execution. As the Frontend Engineer, I used React, TypeScript, and
      Tailwind CSS to ensure seamless user experience. Fostered collaborative
      relationships with the backend developer and team manager to drive project
      success. Integrated Yandex Maps to provide location services, enhancing
      platform functionality. Optimized the website for mobile and desktop
      users, resulting in successful project completion.
    </TimeLineElement>
    <TimeLineElement
      title="Fullstack Software Engineer Intern at Innopolis University"
      subtitle="From Sep 2023 to Jan 2024 at Innopolis University, Innopolis, Russia"
    >
      Collaborated in a team of 3 to create an electronic library for Innopolis
      University, serving over 200 staff and students. Developed server and
      interface prototypes using Python, Flask, SQLite3, HTML, Bootstrap, and
      Jinja. Enhanced the interface with React, TypeScript, Material UI, and NPM
      for improved usability and responsiveness. Designed an automated book
      information page generating link sources (BibTeX and plain text) for
      resource discovery and citation. Ensured responsive design across all
      devices, optimizing support for mobile, tablet, and desktop users.
      Implemented a Monthly Reports feature to track library usage and resource
      popularity via both endpoints and web pages.
    </TimeLineElement>
    <TimeLineElement
      title="Fullstack Software Engineer Intern at Commonwealth Bank"
      subtitle="From Feb 2023 to April at Commonwealth Bank, Remote, Australia"
    >
      Extended server functionality by adding support for new icon functions to
      the bank's C# software, gaining hands-on experience with .NET, MongoDB,
      Postman, and Git. Enhanced the React/Redux interface to support icons,
      advancing skills in React, Redux, TypeScript, NPM, and Git. Implemented
      unit tests using xUnit and .NET, improving programming skills and ensuring
      high code quality for new icon functions. Utilized Git and GitHub for
      version control, collaborating effectively with the team and refining
      skills in Git and GitHub.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/Commonwealth%20Bank/xv8eSGu7nksKNiCQj_Commonwealth%20Bank_gFxM7JuzXcfYjBJJq_1681232966485_completion_certificate.pdf"
        target="_blank"
      >
        Forage Software Engineering Virtual Experience Program</a
      >
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C#</li>
    <li>Typescript</li>
    <li>JavaScript</li>
    <li>.NET Core</li>
    <li>ASP.NET Core</li>
    <li>React</li>
    <li>EF Core</li>
    <li>Postgres</li>
    <li>SQL Server</li>
    <li>SQLite</li>
    <li>SQL</li>
    <li>RabbitMQ</li>
    <li>Docker</li>
    <li>Swagger</li>
    <li>Python</li>
    <li>Flask</li>
    <li>Jinja</li>
    <li>Git</li>
    <li>NPM</li>
    <li>CSS</li>
    <li>TailwindCSS</li>
    <li>Bootstrap</li>
    <li>Rest</li>
    <li>Github Actions</li>
    <li>LINQ</li>
    <li>Postman</li>
    <li>Google Cloud</li>
  </ul>
</BaseLayout>
